<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container" data-spy="scroll" data-target="#scrollbar">
    <header>
	<% include ../partials/header %>
    </header>
    
    <main style="padding-bottom:100px;">
	<div class="jumbotron" style="padding-top:100px;">
	    <h1 class="text-center">Bee Bee Menu</h1>
	</div>
	<div class="form-group">
	    <label for="usr"><h3>No.</h3></label>
	    <input type="text" class="form-control" id="usr">
	</div>
	<div class="container">
	    <table class="table">
		<thead>
		    <tr>
			<th><h3>Name</h3></th>
			<th><h3>Number</h3></th>
		    </tr>
		</thead>
		<tbody id="orderingmenu">
		</tbody>
	    </table>
	    <div class="row">
		<button class="btn btn-primary center-block col-sm-12 col-xs-12 col-md-12" type="submit" value="Order"><h3>Order</h3>
		</button>
	    </div>
	</div>


	<ul>
	    <% for(var i = 0; i < menus.length; i++) { %>
		<% if(i % 3 === 0 && i > 0) { %>
        </div>
		<% } %>
		<% if(i % 3 === 0) { %>
		    <div class="row">
		<% } %>
		<div class="col-md-4 col-sm-4 col-xs-12 panel-group" data-toggle="buttons" id="<%= menus[i].name %>">
		    <h3><%= menus[i].name %></h3>
		    <div class="menu-details" style="overflow-wrap:break-word">
			<% foods[i].forEach(function(food){ %>
			    <label class="menu-list-item col-md-12 col-xs-12 col-sm-12 panel panel-default" style="overflow-wrap:break-word">
				<div class="panel-body">
				    <i class="fa fa-angle-right"></i>
				    <div class="row">
					<p class="pull-left col-md-9 col-xs-9 col-sm-9" style="font-size:1.5em;overflow-wrap:break-word">
					    <% if(food.name.length >= 21) { %>
						<% var line = "";%>
						<% var sentence = food.name.split(" ") %>
						<% for(var i = 0; i < sentence.length; i++){ %>
						    <% line += " " + sentence[i]; %>
						    <% if (line.length <= 20 && (line + (sentence[i+1] || "")).length > 20) { %>
							<%= line.replace(/,/g, " ") %>
							<% line = "" %>
							<br/>
						    <% } else if(i +1 === sentence.length){ %>
						    <%= line %>
						<% } %>
					    <% } %>
			<% } else{ %>
					    <%= food.name%>
			<% } %> 
					</p>
					<p class="pull-right col-md-3 col-xs-3 col-sm-3"><h3><%= food.price%></h3></p>
				    </div>
				    <button style="font-size:3em;color:white" class="glyphicon glyphicon-plus pull-left col-md-6 col-xs-6 col-sm-6 btn btn-danger" onclick="plus(&quot;<%= food.name.replace("\n","").replace(/\"/g, "&quot")%>&quot;)"></button>
				    <button style="font-size:3em;color:white" class="glyphicon glyphicon-minus pull-right col-md-6 col-xs-6 col-sm-6 btn btn-primary" onclick="minus(&quot;<%= food.name.replace("\n","").replace(/\"/g, "&quot")%>&quot;)"></button>

				<div class="clearfix"></div>
				</div>
			    </label>
			<%});%>
		    </div>
		</div>
	    <% } %>
	    
	</ul>	
    </main>
    
    <footer>
	<% include ../partials/footer %>
    </footer>
</body>
</html>
